* {
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(224, 221, 221);
}

h1 {
  margin-left: 30px;
}

.main-scores {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
}

.recent-scores,
.add-score {
  padding: 0 20px;
  min-width: 280px;
}

.recent-scores {
  flex: 1;
  max-height: 80vh;
  overflow-y: scroll;
}

.recent-score-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-scores-cont h2 {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(17, 14, 14);
}

.table-row {
  display: flex;
  width: 50%;
}

td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px 200px 8px 10px;
}

tr:nth-child(even) {
  background-color: rgb(197, 184, 184);
}

.add-score {
  flex: 1;
}

.add-form {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.add-form h2 {
  margin-top: 0;
}

.add-form input[type="text"] {
  width: 60%;
  height: 30px;
  margin-bottom: 20px;
  border: 2px solid rgb(54, 53, 53);
}

.refresh-btn {
  height: 2rem;
  cursor: pointer;
  box-shadow: 3.5px 3.5px;
  width: 90px;
  border: 2px solid rgb(54, 53, 53);
  background-color: rgba(148, 147, 147, 0.5);
  border-radius: 7px;
  transition: 0.15s;
}

.refresh-btn:hover {
  transform: scale(1.1);
}

.submit-btn {
  align-self: flex-end;
  height: 30px;
  margin-right: 22%;
  width: 70px;
  border: 2px solid rgb(54, 53, 53);
  cursor: pointer;
  box-shadow: 3.5px 3.5px;
  background-color: rgba(148, 147, 147, 0.5);
  border-radius: 7px;
  transition: 0.15s;
}

.submit-btn:hover {
  transform: scale(1.1);
}

.add-form input[type=text] {
  width: 80%;
  padding: 5px;
  height: 40px;
  margin-bottom: 20px;
  border: 2px solid rgb(54, 53, 53);
  border-radius: 5px;
}
